@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

body {
    height: 860px;
    /*background-image: url("images/Intro_flashback_1.png");*/
    background-color: #ffffff;
}


.title {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
}

.subtitle {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    vertical-align: middle;
    padding: 3px;
    bottom: 0;
}


nav {
    display: flex;             
    justify-content: center;  
    gap: 20px;                  
    padding: 15px;
}

nav a {
    color: rgb(128, 24, 24);
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
}

nav a:hover {
    color: #ffffff;
}


/* ===== HERO (haut avec images) ===== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    padding: 20px;
}

/* images sur les côtés */
.side {
    width: 25%;
}

.side img {
    width: 100%;
    border-radius: 10px;
}

/* texte au centre */
.center-text {
    width: 50%;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}

.center-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.center-text p {
    font-size: 1.2rem;
}

/* ===== SECTION TEXTE (scroll) ===== */
.content {
    padding: 50px;
    max-width: 800px;
    margin: auto;
    font-family: "Pixelify Sans", sans-serif;
    line-height: 1.6;
}